<!DOCTYPE html>
<html>
<head>
	 <meta charset="UTF-8">
	 <meta name="viewport" content="width=device-width, initial-scale=1">
	 <link rel="stylesheet" type="text/css" href="static/css/style.css">
  	<link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Open+Sans:600'>

  <title>ComFly</title>
  
  
</head>
 <body>

  <div class="home-wrap">
	<div class="home-html">
		<input id="tab-1" type="radio" name="tab" class="flights" checked="checked"><label for="tab-1" class="tab">Flights</label>
		<input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Sign Up</label>
		<div class="home-form">
		<form action="/home" method="POST">
			<div class="flights-htm">
				<div class="group">
					<label for="from" class="label">From</label>
					<input id="from" type="text" class="input" name="inputFrom">
				</div>
				<div class="group">
					<label for="to" class="label">To</label>
					<input id="to" type="text" class="input" name="inputTo" data-type="password">
				</div>
				<div class="group">
					<label for="depart_date" class="label">Depart</label>
					<input id="depart_date" type="Date" class="input" name="inputDepart">
				</div>
				<div class="group">
					<label for="return_date" class="label">Return</label>
					<input id="return_date" type="Date" class="input" name="inputReturn">
				</div>
				<div class="group">
					<label for="passengers" class="label">Passengers</label>
					<input id="passengers" type="number" class="input" name="inputPassengers" value="1" min="1">
				</div>
				<div class="group">
					<label for="class" class="label">Class</label>
					<select name="Class">
 					 	<option value="Economy" selected>Economy</option>
  						<option value="Premium Economy">Premium Economy</option>
  						<option value="Business">Business</option>
					</select>
				</div>
				<div class="group">
					<input type="submit" class="button" value="Search">
				</div>
				<div class="hr"></div>
			</form>
			</div>
			<div class="sign-up-htm">
			<form action="/signup" method="POST">
				<div class="group">
					<label for="user" class="label">Name</label>
					<input id="user" type="text" class="input" name='inputName'>
				</div>
					<div class="group">
					<label for="user" class="label">Email Id</label>
					<input id="regno" type="text" class="input" name='inputEmail'>
				</div>
				<div class="group">
					<label for="pass" class="label">Registration Number</label>
					<input id="regno" type="text" class="input" name='inputRegno'>
				</div>
				<div class="group">
					<label for="pass" class="label">Password</label>
					<input id="pass" type="password" class="input" data-type="password" name='inputPassword'>
				</div>
				<div class="group">
					<label for="phone" class="label">Contact Number</label>
					<input id="phone" type="text" class="input" name='inputPhone'>
				</div>
				<div class="group">
					<label for="pass" class="label">College</label>
					<input id="pass" type="text" class="input" name='inputCollege'>
				</div>
				<div class="group">
					<input type="submit" class="button" value="Sign Up">
				</div>
			</form>
				<div class="hr"></div>
			</div>
		</div>
	</div>
</div>
<video autoplay loop id="video-background" muted plays-inline>
  <source src="static/video/home.mp4" type="video/mp4">
</video>
  
</body>
</html>